ApplicationPatient/src/conf/xml-resources/web-service-references/WSRESULTAT/wsdl/localhost_8080/WSRESULTAT/WSRESULTAT.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSRESULTAT">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/WSRESULTAT/WSRESULTAT?xsd=1"/>
</xsd:schema>
</types>
<message name="operation">
<part name="parameters" element="tns:operation"/>
</message>
<message name="operationResponse">
<part name="parameters" element="tns:operationResponse"/>
</message>
<message name="coucou">
<part name="parameters" element="tns:coucou"/>
</message>
<message name="coucouResponse">
<part name="parameters" element="tns:coucouResponse"/>
</message>
<message name="sayHello">
<part name="parameters" element="tns:sayHello"/>
</message>
<message name="sayHelloResponse">
<part name="parameters" element="tns:sayHelloResponse"/>
</message>
<portType name="WSRESULTAT">
<operation name="operation">
<input wsam:Action="http://WS/WSRESULTAT/operationRequest" message="tns:operation"/>
<output wsam:Action="http://WS/WSRESULTAT/operationResponse" message="tns:operationResponse"/>
</operation>
<operation name="coucou">
<input wsam:Action="http://WS/WSRESULTAT/coucouRequest" message="tns:coucou"/>
<output wsam:Action="http://WS/WSRESULTAT/coucouResponse" message="tns:coucouResponse"/>
</operation>
<operation name="sayHello">
<input wsam:Action="http://WS/WSRESULTAT/sayHelloRequest" message="tns:sayHello"/>
<output wsam:Action="http://WS/WSRESULTAT/sayHelloResponse" message="tns:sayHelloResponse"/>
</operation>
</portType>
<binding name="WSRESULTATPortBinding" type="tns:WSRESULTAT">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="coucou">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sayHello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSRESULTAT">
<port name="WSRESULTATPort" binding="tns:WSRESULTATPortBinding">
<soap:address location="http://localhost:8080/WSRESULTAT/WSRESULTAT"/>
</port>
</service>
</definitions>